a {
    display: block;
    background-color: #169789;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
    width: 100px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 10px solid #07524b;
    margin: 20px auto;
}
